.box-avatar {
    background-color: #1abc9c;
    padding: 150px 0;
}

.show-grid [class^=col-] {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}
.portfolio-text {
    padding-top: 20px;
    padding-bottom: 10px;
}
.img {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: blueviolet;
}
